.button_box {
    display: flex;
    min-width: 400px;
    justify-content: space-between;
    align-items: center;
}

.select_button {
    font-family: -apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Ubuntu,sans-serif;
    background-color: #667cf7;
    border-radius: 6px;
    border-style: none;
    color: #fff;
    cursor: pointer;
    font-size: 90%;
    height: 44px;
    line-height: 1.15;
    max-width: 120px;
    width: 100%;
}

.select_button:hover {
    border-style: solid;
    border-color: white;
    border-width: 1px;
}

.hide_button {
    background-color: #78A2A2;
}

.delete_button {
    background-color: #FF6861;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal Content */
.modal-content {
    background-color: #2C2F33;
    margin: auto;
    padding-bottom: 20px;
    border: 1px solid #888;
    width: 80%;
    line-height: 1.5;
}
.modal-content p {
    padding: 0px 15%;
}

.modal-content img {
    height: 20px;
    display: inline;
    vertical-align: middle;
    padding-bottom: 7px;
}

.close {
    color: #aaaaaa;
    float: right;
    padding-right: 10px;
    font-size: 28px;
    font-weight: bold;
}
  
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.top_display {
    display: flex;
    justify-content: space-between;
    width: 80%;
    max-width: 1000px;
    margin: 0 auto;
}
