.dropdown {
    color: white !important;
    background-color: #2C2F33 !important; 
    text-align:left;
}
.searchbox {
    background-color: #2C2F33 !important;
    color: white !important;
    border-width: 2px !important;
    border-radius: 0.125em !important;
}

.select2-selection__rendered {
    color: white !important; /* Change text color of selected option */
}

.select2-selection__rendered {
    line-height: 50px !important;
    float:left;
    margin-left: 8px;
}

.select2-container .select2-selection--single {
    height: 52px !important;
}
.select2-selection__arrow {
    height: 52px !important;
}

.select2-container .select2-search__field {
    height: 40px;
}

.select2-container--default .select2-results__option .select2-results__option {
    padding-left: 30px;
}

.select2-container .select2-results__option {
    height: 20px; 
    line-height: 20px; 
    position: relative;
}

.select2-container .select2-results__options {
    height: 600px; 
    overflow-y: auto;
}

.select2-container--default .select2-results__option--highlighted[aria-selected] {
    background-color: #535860;
}

.select2-container--default .select2-results__option--selected {
    background-color: #5896FB !important;
}