
.profile_icon {
    width: 50px;
    border-radius: 50%;
    vertical-align: middle;
}

.profile_header {
    display:flex;
    text-align: left;
    width: 70%;
    padding: 12px 0px;
    border-style: solid;
    border-width: 5px 0px;
    border-color: #7289DA;
    font-size: 16px;
    font-weight: bold;
    margin: 0 auto;
}

.profile_column {
    flex: 100%;
}

.profile_display {
    margin-left: 5px;
}

.profile_rank {
    background-color:#7289DA;
    flex: 0 0 42px;
    padding: 2px;
    margin-right: 5px;
    font-family: "Arial";
    font-size: 32px; 
    text-align: center; 
    border-style: solid; 
    border-width: 4px; 
    border-color: #ffffff #000000 #000000 #ffffff; 
}

.hour_table tr {
    vertical-align: bottom;
}

.info_table {
    width: 70%;
    padding: 3px;
    margin: 0 auto;
    text-align:left;
}

.mini_table {
    display:inline;
    margin: 10px;
    text-align: left;
}

.mini_table th {
    padding-bottom: 3px;
}

.mini_table td {
    padding-left: 5px;
}

/* this is really stupid and hacky, but what it does is it correctly aligns the 10th item in the chat partners list. this is due to the number "10" occupying 9 pixels of extra character space */
.mini_table tr:nth-child(5) td:nth-child(3){
    position:relative;
    left:-9px;
}


.tablink_wrapper {
    width:50%;
    margin: 0 auto;
    position: relative;
    left: 6.3%;
}

.top_display {
    width: 70%;
    max-width: none;
    margin-bottom: 15px;
    align-items: center;
}

.button_box {
    min-width: 260px;
}