html {
  height: 100%;
  width: 100%;
}

body {
  text-align: center;
  font-family: "Verdana", Arial, sans-serif;
  background-color: #2C2F33;
  color: #FFFFFF;
  font-size: 14px;
}

h1 {
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 26px;
  font-weight: normal;
  margin: 4px;
}

h3 {
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  margin: 3px;
}

table {
  border: 0px;
  padding: 0px;
  border-spacing: 1px;
}


.txt1 {
  font-family: "Verdana";
  color: #FFFFFF;
  font-size: 12px;
  text-align: left;
}

.txt2 {
  font-family: "Verdana";
  color: #99AAB5;
  font-size: 12px;
  text-align: left;
}

.s1 {
  font-family: "Arial";
  color: #99AAB5;
  font-size: 9px;
  vertical-align: bottom;
  text-align: center;
}

.tgr, .tinv {
  border: 0px;
}

.s3 {
  font-family: "Arial";
  color: #ffffff;
  font-size: 9px;
  vertical-align: bottom;
  text-align: center;
}

.default_table {
  font-family: "Verdana";
  color: #000000;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
}

.default_table tr:nth-child(even) {
  background: #7289DA;
}
.default_table tr:nth-child(odd) {
  background: #53639E;
}

.nick img, .line_count img {
  vertical-align: middle;
}

.default_table th {
  background-color: #7289DA;
}

.blankheader {
  background-color: #2C2F33 !important;
}

.rank {
  text-align: right;
}

.nick img {
  border-radius: 50%;
}

.words {
  font-weight: normal;
}

#chart_div {
  width: 75%;
}

#chart_div text {
  fill: white !important;
}

#time_of_day {
  text-align: right;
}
#time_of_day tr {
  font-weight: normal;
}

.hours {
  font-size: 10px;
}