html {
  height: 100%;
  width: 100%;
  scroll-behavior: smooth;
}

body {
  text-align: center;
  font-family: "Verdana", Arial, sans-serif;
  background-color: #2C2F33;
  color: #FFFFFF;
  font-size: 14px;
  margin:0px;
}

h1 {
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 26px;
  font-weight: normal;
  margin: 4px;
}

h3 {
  font-family: "Arial";
  color: #FFFFFF;
  font-size: 20px;
  font-weight: normal;
  margin: 3px;
}

h4 {
  margin-bottom: 10px;
}

a {
  color: white;
  text-decoration: underline;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li a {
  text-decoration: underline;
}
nav ul li a:hover {
  text-decoration: none;
}

nav.pages_directory ul {
  padding-left: 30px;
}

nav.pages_directory ul li {
  margin-right:50px;
  color: #d1e3fa99;
}

nav.pages_directory ul li a {
  color: #d1e3fa99;
}

table {
  border: 0px;
  padding: 0px;
  border-spacing: 1px;
}

.message {
  background-color: #66b266;
  position: relative;
  width: 100%;
  padding: 10px 0px;
  top: 0;
  left: 0;
  z-index: 1;
  max-height: 27px;
}

.message_gone {
  padding: 0;
  overflow: hidden;
  max-height: 0;
  transition: all 1s ease;
}

.message_level_error {
  background-color: #FF6861;
}

.unset_tz_warning {
  background-color: #E46667;
  width: 100%;
  padding: 10px 0px;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}


.header-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.muffinstats {
  font-size:24px;
}
.muffinstats a {
  color:white !important;
  text-decoration: none !important;
}

.discord_button {
  cursor: pointer;
  color: white;
  text-decoration: none;
  display:flex;
  align-items:center;
  justify-content:center;
  margin-left:auto;
  margin-right:2%;
  border-radius: 25px;
  background-color: #7289da;
  height: 40px;
  width: 150px;
  transition: all .15s ease-in;
  min-width: 135px;
}


.discord_button:hover {
  background-color: #536fd2;
  transition: all .15s ease-in;
}
.discord_button:active {
  background-color: #3555c9;
}

.discord_button img {
  margin-right:10px;
  height: 15px;
}

.logout {
  display: flex;
  margin-right: 2%;
}

.logout img {
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.logout_text {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.logout_text a {
  margin-top: 5px;
  font-size: 12px;
  color: #d1e3fa99;
  text-decoration: underline;
}

.logout_text a:hover {
  margin-top: 5px;
  font-size: 12px;
  text-decoration: none;
}

.greybar {
  width: 90%;
  height: 3px;
  margin: 1em auto 1em auto;
  background-color: #c0bcb4;
}

header .greybar {
  margin: 5px auto 1em auto;
  width: auto;
  min-width: 892px;
}

.bluebar {
  background-color: #8e8ee1;
  float: left;
}
.greenbar {
  background-color: #90e48c;
  float: left;
}
.yellowbar {
  background-color: #e8e48c;
  float: left;
}
.redbar {
  background-color: #e18e8e;
  float: left;
}

.defaultbar {
  background-color: #90e48c;
  float: left;
  margin-top: 7px;
  margin-right: 7px;
  margin-bottom: 3px;

}

.time_of_day_bar {
  float:right; 
  margin-top:7px;
}

.keybar {
  height:15px; 
  width: 30px; 
  margin-right:4px;
}

.subtext {
  font-weight: normal;
  font-family: "Verdana";
  color: #99AAB5;
  font-size: 12px;
  text-align: left;
  line-height: 1.5;
}

nav.stats_directory {
  color: white;
  font-size: 12px;
  margin-bottom: 15px;
}
nav.stats_directory ul {
  justify-content: center;
  padding: 0;
  margin-top: 0px;
}

nav.stats_directory ul li:not(:last-child):after {
  content: "|";
  margin: 0px 5px;
}


.tablink {
  background-color: #2C2F33;
  float: left;
  border: none;
  cursor: pointer;
  font-size: 12px;
  width: 25%;
  text-decoration: underline;
}

.selectedTablink {
  background-color: #2C2F33;
  float: left;
  border: none;
  font-size: 12px;
  width: 25%;
}

.tablink:hover {
  color: grey;
}


.tabcontent {
  width: 80%;
  margin: 0 auto;
}

.txt1 {
  font-family: "Verdana";
  color: #FFFFFF;
  font-size: 12px;
  text-align: left;
}

.hour_percentage {
  font-family: "Arial";
  color: #99AAB5;
  font-size: 9px;
  vertical-align: bottom;
  text-align: center;
}

.tgr, .tinv {
  border: 0px;
}

.barchart_label {
  background-color:#7289DA;
  font-size: 9px;
  vertical-align: bottom;
  text-align: center;
}



.weekday_table {
  width: 30%;
}
.weekday_table td {
  width: 10%;
}
.weekday_table td.tgr {
  line-height: 0px;
}
.weekday_table .defaultbar {
  float:none;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.weekday_label {
  background-color: #7289DA;
  font-size: 9px;
  text-align: center;
  vertical-align: bottom;
}

.userlink:link, .userlink:visited {
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.userlink:hover {
  text-decoration: underline;
}


.icon {
  border-radius: 50%;
}

.default_table {
  font-family: "Verdana";
  color: #000000;
  font-size: 12px;
  text-align: left;
  font-weight: bold;
  margin: 3px auto 0px auto;
}

.default_table th {
  background-color: #7289DA;
}

.default_table th:first-child {
  background-color: #2C2F33 !important;
}

.default_table tr:nth-child(even) {
  background: #7289DA;
}
.default_table tr:nth-child(odd) {
  background: #53639E;
}

.nick img, .line_count img {
  vertical-align: middle;
}

.emoji_display {
  display:flex;
  justify-content: space-evenly;
  align-items:center;
}


.rank {
  text-align: right;
}

.nick img {
  height: 30px;
}

.words {
  font-weight: normal;
}

#time_of_day {
  text-align: right;
}

#time_of_day header {
  text-align: center;
}

#time_of_day img {
  padding-right: 0px;
}

.tiny_table tr {
  font-weight: normal;
}

.mini_icon {
  height: 15px;
  vertical-align: middle;
}

.hours {
  font-size: 10px;
}

.textblock {
  text-align: left;
  width:1000px; 
  margin:0 auto;
  line-height: 1.5;
}

.textblock h3 {
  text-decoration: underline;
}

.textblock p {
  margin-left: 40px;
}
.textblock ul {
  margin: 0px 0px 14px 0px;
}
.textblock ul li {
  margin: 5px 0px;
}

.command {
  display:block;
  margin: 5px 0px;
}


.textbox {
  margin-left: 15%;
  margin-right: 15%;
}


.submit {
  border-width: 1px;
  border-radius: 20px;
  border-style: solid;
  color:white;
  background-color: #04A96D;
  width: 150px;
  height: 35px;
  cursor: pointer;
  font-size: 16px;
  transition: all 0.125s linear;
}

.submit:hover {
  transform: scale(1.05);
}

table.word_table tr {
  line-height: 25px;
}