<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}

  <title>Stats FAQ</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
  <link rel="icon">

</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    
    <header>
        <div class="header-navigation">
            <nav>
                <ul>
                    <li style="margin-right:15px"><img src="https://cdn-icons-png.flaticon.com/512/465/465235.png" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li>Add to server</li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <div class="logout">
                <img src="{{ user.avatar }}">
                <div class="logout_text">
                    <span>{{ user.tag }}</span>
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="greybar" style="margin-top:5px; width:99.9%;"></div>
    </header>
    <h1>Adding MuffinBot</h1>
    <div class="greybar"></div>
    <div class='textblock questions' style="width:1000px; margin:0 auto;">
        <h3>
            Step 1: Add the bot to your server
        </h3>
        <p>
            Click this link, verify that the permissions
            After the bot has been added, visit the dashboard to perform a basic setup.
            When you're ready, use the following command
        </p>
    </div>

</body>
</html>