<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}

  <title>Stats FAQ</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
  <link rel="icon">

</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    
    <header>
        <div class="header-navigation">
            <nav class="pages_directory">
                <ul>
                    <li style="margin-right:15px"><img src="{% static 'assets/logo.svg' %}" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li><a href="dashboard">Dashboard</a></li>
                    <li>Add to server</li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <div class="logout">
                <img src="{{ user.avatar }}">
                <div class="logout_text">
                    <span>{{ user.tag }}</span>
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="greybar"></div>
    </header>
    <h1>Adding MuffinBot</h1>
    <div class="greybar"></div>
    <div class='textblock questions' style="width:1000px; margin:0 auto;">
        <h3>
            Step 1: Add the bot to your server
        </h3>
        <p style="margin-left: 50px;">
            <a>Click this link!</a>
            <br>
            Verify that you approve of the permissions, and add it to your server. 
        </p>
        <br>
        <h3>
            Step 2: Perform basic setup
        </h3>
        <p style="margin-left: 50px;"> 
            Visit the <a href="/dashboard">dashboard</a>, select your server, and select which channels you want the bot to be able to read. Anyone with manage server permissions may perform this setup. 
        </p>
        <br>
        <h3>
            Step 3: Start the bot
        </h3>
        <p style="margin-left: 50px;">
            Use the <code>/start</code> command in any channel that MuffinBot can read, and it will begin reading your messages. 
            <br>
            To confirm that the command has worked, select your server from the <a href="/dashboard">dashboard</a> to see its statistics. 
            Once the bot has started, anyone who is in your server may view the server's statistics by logging into this website and selecting it from the dashboard.
        </p>
        <br>
        <h3>
            Step 4: Collect statistics on the server's history
        </h3>
        <p style="margin-left: 50px;">
            If you'd like, you may use the <a>history</a> command, which collects statistics on all of your server's past messages. It may take a while to fully complete this process.
        </p>
    </div>

</body>
</html>