<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <title>Stats FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/channel_setup.css' %}" type="text/css" />
    <link rel="icon">
</head>
<body>
    <header>
        <div class="header-navigation">
            <nav>
                <ul>
                    <li style="margin-right:15px"><img src="" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li><a href="/dashboard">Dashboard</li>
                    <li><a href="/add">Add to server</a></li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <a href="/logout/" class="discord_button logout">
                <img src="{{ user.avatar }}">Logout
            </a>
        </div>
        <div class="greybar" style="margin-top:5px; width:99.9%;"></div>
    </header>

    <h1>Channel Setup</h1>
    <div class="greybar"></div>
    <h3>Select which channels to track</h3>
    <p>
        Disabled channels will be completely left out of statistics
    </p>
    <p class="subtext">Recommended: disable bot channels, spam channels, and restricted channels (like #rules and #announcements)</p>
    <span class="subtext">
        If channels are missing, ensure Muffinbot has the correct channel permissions, then reload the page
    </span>
    <br>
    <br>
    
    <form action="/submit/" method="post">
        {% csrf_token %}
        <table class="channeltable">
        {% for row in formset_table %}
            <tr>
            {% for form in row %}
            <td class="selectedCell">
                {{ form.as_div }}
            </td>
            {% endfor %}
            </tr>
        {% endfor%}
        </table>
        <br>
        <br>
        <input class="submit" type="submit" value="Submit">
    </form>
    <script type="text/javascript" src="{% static 'js/channel_setup.js' %}"></script>
    <br>
    <br>
    <br>
</body>
