<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <title>Stats FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/channel_setup.css' %}" type="text/css" />
    <link rel="icon">
</head>
<body>
    <header>
        <div class="header-navigation">
            <nav class="pages_directory">
                <ul>
                    <li style="margin-right:15px"><img src="{% static 'assets/logo.svg' %}" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/add">Add to server</a></li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <div class="logout">
                <img src="{{ user.avatar }}">
                <div class="logout_text">
                    <span>{{ user.tag }}</span>
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="greybar"></div>
    </header>

    <h1>Channel Setup</h1>
    <div class="greybar"></div>
        
    <br>

    <form action="submit/" method="post">
        {% csrf_token %}
        {{ formset.management_form }}
        <table class="channeltable">
            <thead>
                <tr>
                    <th colspan=5 class="questions">
                        Select which channels to track
                        <p class="subtext">
                            Disabling a channel means it will be completely ignored by MuffinBot. Consider disabling bot-only or "bot spam" channels, and channels without much message activity (like #rules and #announcements).
                            <br>
                            <b>Disabling cannot be easily undone.</b> So if you're unsure about a channel, keep it enabled. 
                            <br>
                            If you notice that channels are missing from this list, ensure that MuffinBot has the correct channel permissions, then reload the page. 
                        </p>
                    </th>
                </tr>
            </thead>
            {% for row in formset_table %}
                <tr>
                    {% for form in row %}
                        <td class="selectedCell">
                            {{ form.as_div }}
                        </td>
                    {% endfor %}
                </tr>
            {% endfor%}
        </table>
        <br>
        <br>
        <input class="submit" type="submit" value="Next Step">
    </form>
    <script type="text/javascript" src="{% static 'js/channel_setup.js' %}"></script>
    <br>
    <br>
    <br>
</body>
</html>