<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}

  <title>Stats FAQ</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="stylesheet" href="{% static 'css/dashboard.css' %}" type="text/css" />
  <link rel="icon" href="{% static 'assets/logo.svg' %}">

</head>
<body>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/dashboard.js' %}"></script>
    
    <header>
        <div class="header-navigation">
            <nav class="pages_directory">
                <ul>
                    <li style="margin-right:15px"><img src="{% static 'assets/logo.svg' %}" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li>Dashboard</li>
                    <li><a href="/add">Add to server</a></li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <div class="logout">
                <img src="{{ user.avatar }}">
                <div class="logout_text">
                    <span>{{ user.tag }}</span>
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="greybar"></div>
    </header>


    <!-- Hide Button Modal-->
    <div id="hideModal" class="modal">
    
      <div class="modal-content">
        <span id="hideX" class="close">&times;</span>
        <h2>Hide My Data</h2>
        <p>Enabling this option will hide all of your account info across all servers, and make your server profiles viewable only by you. 
            <br> Your data will still anonymously count towards server-wide statistics.</p>
        <p>This option can be undone.</p>
        <button class="action_button hide_button" role="button">Hide It!</button>
      </div>
    
    </div>

    <!-- Delete Button Modal-->
    <div id="deleteModal" class="modal">
    
        <div class="modal-content">
          <span id="deleteX" class="close">&times;</span>
          <h2>Delete My Data</h2>
          <p> <img src="{% static 'assets/warning.svg' %}" height="20" style='display: inline;'> WARNING: This is an extremely sensitive operation!<img src="{% static 'assets/warning.svg' %}" height="20" style='display: inline;'></p>
          <p>Enabling this option will permanently delete your account's data across all servers, <br> and the bot will permanently stop collecting data associated with your account. 
          <p>This action <b>CANNOT</b> be undone!</p>
          <button class="action_button delete_button" role="button">Delete My Data</button>
        </div>
      
      </div>


    <div class="top_display">
        <div style="text-align: left;">
            <h1>Servers</h1>
            <span class="subtext">All of the servers that you have statistics for</span>
        </div>
        <div class="button_box">
            <button class="action_button" onclick="window.location.href='/timezone/'">Set Timezone</button>
            <button class="action_button hide_button" id="hideButton" role="button">Hide My Data</button>
            <button class="action_button delete_button" id="deleteButton" role="button">Delete My Data</button>
        </div>
    </div>
    <br>
    <table class="cardtable">
        {% for row in server_table %}
            <tr>
                {% for guild, user_in_guild in row %}
                    <td class="servercard">
                        {% if not user_in_guild %}
                            <a href="/guild/{{ guild.id }}/setup">
                                <div class="medallion">
                                    <img src="{% static 'assets/warning.svg' %}">
                                    <span class="tooltiptext">You are no longer in this server</span>
                                </div>
                        {% elif guild.setup %}
                            <a href="/guild/{{ guild.id }}">
                        {% else %}
                            <a href="/guild/{{ guild.id }}/setup">
                                <div class="medallion">
                                    <img src="{% static 'assets/notification.svg' %}">
                                    <span class="tooltiptext">Setup required</span>
                                </div>
                        {% endif %}
                                <img src="{{ guild.display_icon }}" height=100>
                                <p class="text">{{ guild.name }}</p>
                            </a>
                    </td>
                {% endfor %}
            </tr>
        {% endfor %}
    </table>
</body>