<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}
  {% load humanize %}
  {% load mathfilters %}
  {% load stat_extras %}

  <title>{{ guild.name }} Stats</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="icon" href="{{ guild.icon }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tablesorter/js/jquery.tablesorter.js' %}"></script>

</head>

<body>
    <center>
        <!-- 
        Channels
        -->    
        <h3></h3>
        <table cellspacing="1" cellpadding="2" class="default_table">
            <thead>
                <th class="blankheader"></th>
                <th>Channel</th>
                <th>Messages</th>
                <th>Top Contributors</th>
            </thead>
            <tbody>
                <tr>
                    <td></td>
                </tr>
            </tbody>
        </table>


        <img src="{% static 'assets/pipeltv.png' %}" height="3" width="90%" alt="">
        <br>
        <br>

        <!-- 
        Top Swearers
        -->    
        <h3>
            Top 10 Swearers
        </h3>
        <span class="subtext">
            These users had the mouths of a sailor
        </span>
        <table cellspacing="1" cellpadding="2" class="default_table tiny_table">
        <thead>
            <th></th>
            <th>Nick</th>
            <th>Percentage</th>
        </thead>
        <tbody>
            {% for user in top_curse_users %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>
                    <img class="icon time_of_day_icon" src="{{ user.avatar }}">
                    {{ user.nick }}
                </td>
                <td>
                    <img src="{% static 'assets/pipedv.png' %}" height="5" width="{% widthratio user.curse_word_count|div:user.messages top_curse_users.0.curse_word_count|div:top_curse_users.0.messages 100 %}">
                    {{ user.curse_word_count|div:user.messages|mul:100|floatformat:2 }}%
                </td>
            </tr>
            {% endfor %}
        </tbody>
        </table>
    </center>
  </body>