<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}

  <title>Stats FAQ</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="icon" href="{{ guild_icon }}">

</head>
<body>
    <header>
        <div class="header-navigation">
            <nav>
                <ul>
                    <li style="margin-right:15px"><img src="https://cdn-icons-png.flaticon.com/512/465/465235.png" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li>Dashboard</li>
                    <li><a href="../add">Add to server</a></li>
                    <li><a href="../info">Additional Info</a></li>
                    <li><a href="../privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <a href="../logout/" class="discord_button logout">
                <img src="">Logout
            </a>
            {% else %}
                <a href="../login/" class="discord_button">
                    <img src="{% static 'assets/discord.svg' %}" height=20>Discord Login
                </a>
            {% endif %}
        </div>
        <div class="greybar" style="margin-top:5px; width:99.9%;"></div>
    </header>
    <!--
    <div class="greybar" style="margin-bottom:15px;"></div>
    
    <div class="headerlinks">
        <a href="/stats/">1. Main page</a> | <a href="/stats/details/">2. Detailed info</a> | 3. FAQ
    </div>-->
    <h2>Additional Info</h2>
    <div class='questions' style="width:1000px; margin:0 auto;">
    <h3>
        Credits
    </h3>
    <p>
        Back in the days when <a href="https://en.wikipedia.org/wiki/Internet_Relay_Chat">IRC</a> was widely used,
        stats could be generated for an IRC channel using a program called <a href="https://storage.googleapis.com/mircstats/index.html">mIRCStats</a>.
        MuffinStats is a rendition of mIRCStats, tailored and expanded for use on Discord. 
        <br>
    </p>
    <br>
    <h3>
        Contact Information
    </h3>
    <p>

    </p>
    <br>
    <h3>
        I don't want my info displayed! Can I get it removed?
    </h3>
    <p>
        All collected info is already publicly available on the server.
        However, if you want your info removed, you can type the command: 
        <span class="command"><code>$blacklist</code></span>
        and any mention of you will immediately be purged. If you want to undo this decision at any point, type the command:
        <span class="command"><code>$whitelist</code></span>
    </p>
</body>
</html>