<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    
    <title>Stats FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'assets/logo.svg' %}">
    <style>
        .checklist li:before {
            background-image: url("{% static 'assets/checkmark.svg' %}");
        }
    </style>
</head>
<body>
    <script type="text/javascript" src="{% static 'js/messages.js' %}"></script>
    {% if messages %}
    {% for message in messages %}
        <div class="message message_level_{{ message.tags }}">
            {{ message }}
        </div>
    {% endfor %}
    {% endif %}
    {% include "header_navigation.html" %}
    <h1>MuffinStats</h1>
    <div class="greybar"></div>
    <div class="page-wrapper">
        <div style="text-align:left; max-width: 600px;">
            <h1><u>Detailed Statistics for Discord Servers</u></h1>
            <p>MuffinStats offers a wide array of options for viewing statistics about your Discord server, right here on this website.</p>
            <p></p>
            <ul class="checklist">
                <li><b>Personalized</b> - Aside from generating statistics for each server, each user gets their very own statistics profile</li>
                <li><b>Secure</b> - Statistics are private, and you can select exactly which members of your server are allowed to view them</li>
                <li><b>Privacy-Friendly</b> - Each user has complete control over any data collected by the bot</li>
                <li><b>Intuitive</b> - Setting up the bot is simple and quick</li>
            </ul>
            <div class="button_container">
                <a href="/login"><button class="big_button">Login</button></a>
                <a href="/add"><button class="big_button big_add_button">Add to Server</button>
            </div>
        </div>
        <div>
            <div class="slideshow-container">
                <div class="slide fade">
                <img src="{% static 'assets/showcase_1.png' %}" style="width:100%">
                </div>
            
                <div class="slide fade">
                <img src="{% static 'assets/showcase_2.png' %}" style="width:100%">
                </div>
            
                <div class="slide fade">
                <img src="{% static 'assets/showcase_3.png' %}" style="width:100%">
                </div>

                <a class="prev" onclick="changeSlide(-1)">&#10094;</a>
                <a class="next" onclick="changeSlide(1)">&#10095;</a>
            </div>
            <br>
            
            <div style="text-align:center">
                <span class="dot" onclick="setSlide(0)"></span>
                <span class="dot" onclick="setSlide(1)"></span>
                <span class="dot" onclick="setSlide(2)"></span>
            </div>
        </div>
    </div>
    <script type="text/javascript" src="{% static 'js/index.js' %}"></script>
</body>
</html>