<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    
    <title>Stats FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="icon" href="{% static 'assets/logo.svg' %}">

</head>
<body>
    <header>
        <div class="header-navigation">
            <nav class="pages_directory">
                <ul>
                    <li style="margin-right:15px"><img src="{% static 'assets/logo.svg' %}" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    <li><a href="/add/">Add to server</a></li>
                    <li><a href="/info">Additional Info</a></li>
                    <li>Privacy Policy/Opt-Out</li>
                </ul>
            </nav>
            {% if user.is_authenticated %}
            <a href="../logout/" class="discord_button logout">
                <img src="">Logout
            </a>
            {% else %}
                <a href="../login/" class="discord_button">
                    <img src="{% static 'assets/discord.svg' %}" height=20>Discord Login
                </a>
            {% endif %}
        </div>
        <div class="greybar"></div>
    </header>
    <h1>Privacy Policy</h1>
    <div class="greybar"></div>
    <div class='textblock'> 
    <h3>
        Introduction 
    </h3>
    <p>
        The privacy policy outlines exactly what data is collected, and how you can view, manage, or delete it. 

        If you're in a server running this bot, the stats pages are the <b>only</b> place your data will ever be used. 
        This project complies to Discord's <a href="https://discord.com/developers/docs/policies-and-agreements/developer-terms-of-service">Developer Terms of Service</a>, which guarantees that your data will be shared with a third-party, among other things.
    </p>
    <h3>
        Main Points
    </h3>
    <ul>
        <li>Your statistics per server are <b>only</b> viewable by other members who are in the server - nobody can see your data unless they can already view your messages, and no data is collected that other server members can't already see</li>
        <li>You can hide all of your data or completely opt-out of the service with the click of a button</li>
        <li>You can also hide or opt-out of specific servers</li>
        <li>Your data is stored in a secure, encrypted database</li>
    </ul>
    <h3>
        How is my data kept safe?
    </h3>
    <p>
        All data is encrypted-at-rest - this means that when the data isn't being viewed by you, it's stored in an unreadable format. Additionally, statistics for a server may only be accessed by members of that server. 
        Once a user's account leaves a server, other user's statistics will be hidden from them. 
        <br>
        Your account's data will <b>not</b> be deleted if you leave a server. If you'd like to delete it yourself, you may do so by visiting your server profile via the <a href="/dashboard">dashboard</a>.
    </p>
    <h3>
        What data is collected? 
    </h3>
    <p>
        Here's a list of all data retained by the bot. For servers without the 'server history' feature enabled,
        this only applies to messages sent <i>after</i> the bot joined.
        <h4>Data collected per server</h4>
        <ul>
            <li>Server Name</li>
            <li>Server ID</li>
            <li>Server Icon URL</li>
            <li>Names of viewable text channels</li>
            <li>IDs of viewavle text channels</li>
        </ul>
        <h4>Data collected per user</h4>
        <ul>
            <li>Username</li>
            <li>Server-specific nickname</li>
            <li>User ID</li>
            <li>Avatar URL</li>
            <li>Number of messages sent per viewable text channel</li>
            <li>Average message length</li>
            <li>Curse word frequency - curse words themselves are <b>not</b> collected</li>
        </ul>
        <h4>Data collected per user message</h4>
        <ul>
            <li>"Uncommon" words - words that do not appear in a standard dictionary</li>
            <li>Users mentioned</li>
            <li>Message date and hour</li>
            <li>URLs used</li>
            <li>Emojis used</li>
            <li>Reactions received</li>
        </ul>
    </p>
    <br>
    <h3 id="opt-out">
        Opting Out - Hiding or Deleting Your Data
    </h3>
    <p>
        If you aren't comfortable with the bot displaying or retaining your data, you can manage
        the data associated with your account via either the <a href="/dashboard">dashboard</a> or your account's server profile.
    </p>
        <h4>Hiding your data</h4>
    <p>
        Enabling this option means that any mentions of your account in the server's statistics will be hidden. 
        However, your data will still anonymously count towards server-wide statistics. 
        This action <b>can</b> be undone. All of your data will be retained, but not shown.
    </p>
        <h4>Deleting your data</h4>
    <p>
        Using this option deletes your data. This action <b>cannot be undone!</b> All data associated 
        with your account will be permanently erased, and the bot will subsequently ignore all activity associated with your account. 
    </p>
        <h4>What if my account is no longer in a server?</h4>
    <p>
        The opt-out options for that server may still be used. 
    </p>
    <h4>
        If I decide to opt-out, can I still view server stastics?
    </h4>
    <p>
        No. Opting-out completely wipes all info associated with your account, including what servers you're in.
    </p>
    <h4>
        How do you know if an account has opted-out if you don't store the account's data?
    </h4>
    <p>
        Opted-out accounts have their IDs converted into a <a href="https://en.wikipedia.org/wiki/Cryptographic_hash_function">hash value</a>, and then stored in a blacklist. This means that no info about the account is actually retained.
        <br>
    </p>

        <h4>What if I deleted my account?</h4>
    <p>
        Discord does not alert bots when accounts are deleted, so there is no way to automatically delete your data upon account deletion. Therefore, if you're going to delete your account, delete your data here first.
        <br>
        If your account is already deleted, and data was collected before its deletion,
        you will have to send an email to <u>muffinstats@gmail.com</u> with your deleted account's username or ID.
        After some time, your data will be manually deleted and a confirmation email will be sent in reply. 
    </p>
    <h3>
        Deleting All Server Data
    </h3>
    <p>If you want to remove <b>all</b> of the data associated with a server, kick MuffinBot from the server, and the data will be deleted automatically.</p>
    <h3>
        Requesting Your Data
    </h3>
    <p>If you'd like, you may request a copy of the raw data associated with your account, by messaging @muffinlicious on Discord. It's stored in Postgres, so you may request it as an SQL script, CSV, JSON, or any other easily-exportable file type. The raw data is not designed for human readability, that's what this site is for. So it's up to you to make sense of it.</p>
    </div> 
    <br>
    <br>
    <br>
</body>
</html>