<!DOCTYPE html>
<html>
<!--
     db         db
    dpqb       dp8b
    8b qb_____dp_88
    88/ .        `p
    q'.            \
   .'.  .-.    ,-.  `--.
   |.  / 0 \  / 0 \ |   \
   |.  `.__   ___.' | \\/
   |.       "       | (
    \.    `-'-'    ,' |
   _/`------------'. .|
  /.  \\::(::[];)||.. \
 /.  ' \.`:;;;;'''/`. .|
|.   |/ `;--._.__/  |..|
|.  _/_,'''',,`.    `:.'
|.     ` / ,  ',`.   |/     "Yotsuya no Neko"
 \.   -'/\/     ',\  |\     
  /\__-' /\ /     ,. |.\       
 /. .|  '  /-.    ,: |..\
:.  .|    /| | ,  ,||. ..:
|.  .`     | '//` ,:|.  .|
|..  .\      //\/ ,|.  ..|
 \.   .\     <./  ,'. ../
  \_ ,..`.__    _,..,._/
    `\|||/  `--'\|||/'
-->
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    {% load static %}
    <title>Stats FAQ</title>
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/select2-modified.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/timezone.css' %}" type="text/css" />
    <link rel="icon">
    <link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
</head>
<body>
    <style>
        /* this style must be defined within the document because it contains a Django static asset */
        .select2-selection__rendered:before {
            content: '';
            display: inline-block; 
            width: 20px; 
            height: 20px; 
            background-image: url('{% static 'assets/earth.svg' %}');
            background-size: 18px;
            background-repeat: no-repeat;
            vertical-align: middle;
            position: relative;
            margin-right: 11px;
        }
    </style>
    <script type="text/javascript" src="{% static 'js/timezones.js' %}"></script>
    <header>
        <div class="header-navigation">
            <nav class="pages_directory">
                <ul>
                    <li style="margin-right:15px"><img src="{% static 'assets/logo.svg' %}" height=40>
                    <li class="muffinstats"><a href="../">MuffinStats</a></li>
                    <li>Dashboard</li>
                    <li><a href="/add">Add to server</a></li>
                    <li><a href="/info">Additional Info</a></li>
                    <li><a href="/privacy">Privacy Policy/Opt-Out</a></li>
                </ul>
            </nav>
            <div class="logout">
                <img src="{{ user.avatar }}">
                <div class="logout_text">
                    <span>{{ user.tag }}</span>
                    <a href="/logout/">Logout</a>
                </div>
            </div>
        </div>
        <div class="greybar"></div>
    </header>


    <h1>Timezone Setup</h1>
    <div class="greybar"></div>
    <div class="text_with_toggle">
        <p style="font-weight: 700;">Select your current timezone</p>
        <div class="time_switch">
        am/pm
            <label class="switch">
                <input id="time-type" type="checkbox">
                <span class="slider round"></span>
            </label>
        24h
        </div>
    </div>

    {{ form }}
    <div style="height: 400px"></div>
    <!--<span class="subtext">If your timezone is missing, or you notice a mistake, please report it!</span>-->
</body>