<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}
  {% load humanize %}
  {% load stat_extras %}

  <title>{{ guild.name }} Stats</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="icon" href="{{ guild.icon }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tablesorter/js/jquery.tablesorter.js' %}"></script>
  <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  {{ date_data|json_script:"dateData" }}
</head>

<body>
  <center>
    <div class="greybar" style="margin-bottom:15px;"></div>
    <div class="headerlinks">
      <a href=".././">1. Main page</a> | <a href="../details">2. Detailed info</a> | <a href="/FAQ/">3. FAQ</a>
    </div>
    <div class="greybar"></div>

    <h3>Personal Stats</h3>
    <div class="user_header">
      <div class="user_column user_display">
      <img src="{{ user.avatar }}" class="user_icon">
      &nbsp;{{ user.nick }}
      </div>
      <div class="user_column user_rank">
      {{ rank }}
      </div>
    </div>
    <table class="user_info_table">
      <tbody>
        <tr>
          <td>
            Messages: {{ user.messages|intcomma }}
          </td>
          <td>
            Average messages per day: {{ avg_messages|floatformat:2 }}
          </td>
          <td>
            Average letters per message: {{ avg_letters|floatformat:2 }} (<b>{{ chars_magnitude }}</b>)
          </td>
        </tr>
        <tr>
          <td>
            Curse ratio: {{ curse_word_ratio|floatformat:2 }}% (<b>{{ curse_magnitude }}</b>)
          </td>
          <td>
            CAPS ratio: {{ CAPS_ratio|floatformat:2 }}% (<b>{{ CAPS_magnitude }}</b>)
          </td>
          <td>
            Active Days: {{ total_user_active_days }} / {{ total_user_days }} ({{ total_user_active_days_percentage|floatformat:2 }}%)
          </td>
        </tr>
      </tbody>
    </table>
    <br>
    <br>


    <table cellspacing="0" cellpadding="0" class="user_mini_table weekday_table" >
      <thead>
        <th colspan="7" class="subtext" style="padding-bottom: 18px;">Weekly Activity</th>
      </thead>
      <tbody>
        <tr class="hour_percentage" valign="bottom">
          {% for value in weekday_dist %}
            <td class="tgr" align="center">
              <!-- hour percentage value -->
              {{ value|div:user.messages|mul:100|floatformat:1 }}%
              <!-- changes color of bar based on time of day -->
              <div class='defaultbar' style="height:{% widthratio value max_weekday 65 %}px;">
            </td>
          {% endfor %}
        </tr>

        <tr class="user_hour_counter">
            <td class="cd">Mon</td>
            <td class="cd">Tue</td>
            <td class="cd">Wed</td>
            <td class="cd">Thu</td>
            <td class="cd">Fri</td>
            <td class="cd">Sat</td>
            <td class="cd">Sun</td>
        </tr>
      </tbody>
    </table>

    <table class="user_mini_table user_hour_table">
      <thead>
        <th colspan="24" class="subtext" style="padding-bottom: 18px;">Hourly Activity</th>
      </thead>
      <tbody>
        <tr>
          {% for hour_count, hour_string in user_hour_counts %}
            <td>
              <div class="{{ forloop.counter0|set_hour_class }}" title="{{ hour_string }}" style="height:{% widthratio hour_count max_hour_count 71 %}px; width:6px"></div>
            </td>
          {% endfor %}
        </tr>
        <tr class="user_hour_counter">
          <td colspan="6">12AM-5AM</td>
          <td colspan="6">6AM-11AM</td>
          <td colspan="6">12PM-5PM</td>
          <td colspan="6">6PM-11PM</td>
        </tr>
      </tbody>
    </table>

    <table class="user_mini_table tiny_table">
      <thead>
        <th colspan="2" class="subtext">Likes chatting with</th>
      </thead>
      <tbody>
          {% for pair in talking_partners %}
            <tr>
              {% for mention in pair %}
                  {% with user=mention.0 count=mention.1 %}
                    <td>
                      {{ forloop.counter0|mul:5|add:forloop.parentloop.counter }}.&nbsp;
                      <img class="icon time_of_day_icon" height="15" style="vertical-align: middle" src="{{ user.avatar }}">
                      <a href="/stats/users/{{ user.tag }}" class="userlink" style="color: white">{{ user.nick }}</a>
                    </td>
                    <td class="pipe">
                      <div class="defaultbar" style="height:8px; width:{% widthratio count talking_partner_max 80 %}px"></div>
                    </td>
                  {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
    <div class="greybar"></div>

    <div style="width: 50%; margin-left: 8.7%;">
      <button class="subtext selectedTablink" onclick="openPage('topWeekly', this)">Weekly</button>
      <button class="subtext tablink" onclick="openPage('topMonthly', this)">Monthly</button>
      <button class="subtext tablink" onclick="openPage('topYearly', this)">Yearly</button>
      <button class="subtext tablink" onclick="openPage('topAllTime', this)">All Time</button>
    </div>
    <br>
    <div id="topWeekly" class="tabcontent"></div>
    <div id="topMonthly" class="tabcontent"></div>
    <div id="topYearly" class="tabcontent"></div>
    <div id="topAllTime" class="tabcontent"></div>
  </center>
  <script type="text/javascript" src="{% static 'js/chart_setup.js' %}"></script>
</body>
</html>