<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}
  {% load humanize %}
  {% load mathfilters %}
  {% load stat_extras %}

  <title>{{ guild.name }} Stats</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="icon" href="{{ guild.icon }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tablesorter/js/jquery.tablesorter.js' %}"></script>

</head>

<body>
  <center>
    <img src="{% static 'assets/pipeltv.png' %}" height="3" width="90%" alt="">
    <br>
    <br>
    <h3>Personal Stats</h3>
    <div class="user_header">
      <div class="user_column user_display">
      <img src="{{ user.avatar|icon_size:128 }}" class="user_icon">
      {{ user.nick }}
      </div>
      <div class="user_column user_rank">
      {{ rank }}
      </div>
    </div>
    <table class="user_info_table">
      <tbody>
        <tr>
          <td>
            Messages: {{ user.messages|intcomma }}
          </td>
          <td>
            Average messages per day: {{ avg_messages|floatformat:2 }}
          </td>
          <td>
            Average letters per message: {{ avg_letters|floatformat:2 }}
          </td>
        </tr>
        <tr>
          <td>
            Curse word ratio: {{ curse_word_ratio|floatformat:2 }}%
          </td>
          <td>
            CAPS ratio: {{ CAPS_ratio|floatformat:2 }}%
          </td>
          <td>
            Active Days: {{ total_user_active_days }} / {{ total_user_days }} ({{ total_user_active_days_percentage|floatformat:2 }}%)
          </td>
        </tr>
      </tbody>
    </table>



    <table class="user_mini_table user_hour_table">
      <thead>
        <th colspan="24" class="subtext" style="padding-bottom: 18px;">Hourly Activity</th>
      </thead>
      <tbody>
        <tr>
          {% for hour_count in user_hour_counts %}
            <td><img src="{% static forloop.counter0|set_hour_png %}" height="{% widthratio hour_count max_hour_count 65 %}" width="5"></td>
          {% endfor %}
        </tr>
        <tr class="user_hour_counter">
          <td colspan="6">12AM-5AM</td>
          <td colspan="6">6AM-11AM</td>
          <td colspan="6">12PM-5PM</td>
          <td colspan="6">6PM-11PM</td>
        </tr>
      </tbody>
    </table>

    <table class="user_mini_table tiny_table">
      <thead>
        <th colspan="2" class="subtext">Likes chatting with</th>
      </thead>
      <tbody>
          {% for pair in talking_partners %}
            <tr>
              {% for mention in pair %}
                  {% with user=mention.0 count=mention.1 %}
                    <td>
                      {{ forloop.counter0|mul:5|add:forloop.parentloop.counter }}.&nbsp;
                      <img class="icon time_of_day_icon" height="15" style="vertical-align: middle" src="{{ user.avatar }}">
                      <a href="/stats/users/{{ user.tag }}" class="userlink" style="color: white">{{ user.nick }}&nbsp;</a>
                    </td>
                    <td class="pipe">
                      <img src="{% static 'assets/pipedv.png' %}" height="8" width="{% widthratio count talking_partner_max 80 %}">
                    </td>
                  {% endwith %}
              {% endfor %}
            </tr>
          {% endfor %}
        </tr>
      </tbody>
    </table>
  </center>
</body>