<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  {% load static %}
  {% load humanize %}
  {% load mathfilters %}
  {% load stat_extras %}

  <title>{{ guild.name }} Stats</title>

  <link rel="stylesheet" href="{% static 'style.css' %}" type="text/css" />
  <link rel="icon" href="{{ guild.icon }}">

  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>
  <script type="text/javascript" src="{% static 'js/tablesorter/js/jquery.tablesorter.js' %}"></script>

</head>

<body>
  <center>
    <table class="user_table" cellspacing="0" cellpadding="3">
      <tbody>
        <tr>
          <td></td>
        </tr>
      </tbody>
    </table>
  </center>
</body>